body { font-family: Arial; }
button.destroy { min-width: 16px; min-height: 16px; vertical-align: text-bottom; font-size: 70%; }
#filters li { display: inline-block; margin: 0; padding: 0; }
#filters li + li:before { content: ' | '; }
ul#todo-list { border: 1px solid #339; background: #eef; padding: 10px; margin: 10px 0; list-style: none; }
#todo-list li { margin: 10px; padding: 0; }
li.completed, li.completed input[type="text"] { color: #666; text-decoration: line-through; }
.createdAt { font-size: 70%; }